@model Login
@{
    ViewData["Title"] = "Login";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/login.css" rel="stylesheet" />
<style>
    .fa-thin{
        color: #ff0000;
        font-size: 26px !important;
    }
</style>
</head>
<body>
    <div class="container-sm">
        <div class="panel text-center">
            <h3>Sign In</h3>
        </div>
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="MobileNo">
                    <i class="fa fa-phone" aria-hidden="true"></i> Mobile No:
                </label>
                <input asp-for="MobileNo" class="form-control" placeholder="Enter Mobile No" required />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">
                    <i class="fa fa-lock" aria-hidden="true"></i> Password:
                </label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="btn-container text-center">
                <button type="submit" class="btn btn-custom">Login</button>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-3">
                <a asp-controller="Home" asp-action="GoogleLogin" class="btn btn-danger">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" style="width:20px; height:20px; margin-right: 8px; vertical-align: middle;">
                    Login with Google

                </a>
            </div>

            <div class="link text-center mt-3">
                <a asp-controller="Home" asp-action="Registration">Register as a new user</a>
            </div>
        </form>
    </div>

    </div>
</body>
</html>
