@{
    ViewData["Title"] = "Search Buses";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>@ViewData["Title"]</title>
    <link href="~/css/searchbuses.css" rel="stylesheet" />
        </head>
    <body>
        <div class="container-sm">
            <form action="/Home/SearchBuses" method="post">
            <div class="container-lg-mn"><h2 class="search"> Search For Available Buses </h2></div>

            <div class="form-group">
                <label for="from">From:</label>
                <select id="from" name="from" required class="form-control">
                    <option value="" disabled selected>-Select City-</option>
                    <option value="New York">New York</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Houston">Houston</option>
                    <option value="San Francisco">San Francisco</option>
                </select>
            </div>

            <div class="form-group">
                <label for="to">To:</label>
                <select id="to" name="destination" required class="form-control">
                    <option value="" disabled selected>-Select City-</option>
                    <option value="New York">New York</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Houston">Houston</option>
                    <option value="San Francisco">San Francisco</option>
                </select>
            </div>

            <div class="form-group">
                <label for="date">Travel Date:</label>
                <input type="date" id="date" name="date" required class="form-control" />
            </div>
            <div class="btn">
            <button type="submit" class="btn btn-primary">Search</button>
            </div>
       
            </form>
 
        </div>
    </body>
</html>